<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tao.rxtest">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".createoperate.CreateOperateActivity"/>
        <activity android:name=".createoperate.CreateActivity"/>
        <activity android:name=".createoperate.fastcreate.JustCreatActivity"/>
        <activity android:name=".createoperate.fastcreate.FromArrayCreatActivity"/>
        <activity android:name=".createoperate.delaycreate.DeferCreatActivity"/>
        <activity android:name=".createoperate.delaycreate.InvervalCreatActivity"/>
        <activity android:name=".createoperate.delaycreate.TimerCreatActivity"/>
        <activity android:name=".createoperate.delaycreate.InvervalRangeCreatActivity"/>
        <activity android:name=".createoperate.delaycreate.RangeCreatActivity"/>
        <activity android:name=".transform.MapActivity"/>
        <activity android:name=".createoperate.TrtansformOperateActivity"/>
    </application>

</manifest>